// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.panel-body{
  border: 1px solid #aaa;
  padding: 20px 40px  ;
}
.pageTitle{
  text-align: center ;
  margin: 20px 0px ;
}
.personal, .introduction, .skillList, .employment{
  border-bottom: 1px solid #ccc ;
  padding : 0px 0px 20px 0px ;
}
.introduction, .employment{
  text-align: justify;
}

table.user{
  margin: 0 auto ;
  tr{
    width: 100% ;
  }
  th, td{
    vertical-align: top ;
    text-align: left;
    padding: 2px 6px ;
  }
  th{
    font-weight: bold ;
  }
  td{

  }
}


.jobs{

  border-bottom : 1px solid #ccc ;
  padding: 20px 0px ;
  text-align: left ;

  .company{
    font-weight: bold ;
    font-size: 1.2em;
  }
  .skillset{
    font-style: italic;
  }
  .summary{
    font-weight: bold ;
    text-align: justify ;
  }

  .description{
    text-align: justify ;
  }
}

table.jobSelector{

  tr{
    width: 100% ;
  }
  th,td{
    text-align: left;
    padding :4px 6px ;
  }
  th{
    font-weight: bold ;
  }
  td{
    font-weight: normal ;
  }

}

table.skills{

  width : 750px ;
  th,td{
    text-align: left;
    padding :4px 6px ;
  }
  th{
    font-weight: bold ;
  }
  td{
    font-weight: normal ;
  }

}

table.education{

    margin : 0 auto ;
  th,td{
    text-align: left;
    vertical-align: top ;
    padding :4px 6px ;
  }
  th{
    font-weight: bold ;
  }
  td{
    font-weight: normal ;
  }

}